---
import FoldableLeftSidebar from "../components/Astro/LeftSidebar/FoldableLeftSidebar.astro";
import PageContent from "../components/Astro/PageContent.astro";
import RightSidebar from "../components/Astro/RightSidebar.astro";
import Navbar from "../components/VitePress/Navbar/Navbar.vue";

import { nitroConfig } from "nitro";
import "../styles/index.css";
import { AstroPropContent } from "../types/astro";
import HeadCommon from "./HeadCommon.astro";
import HeadSeo from "./HeadSeo.astro";

const content: AstroPropContent = Astro.props.content;
const currentPagePath = new URL(Astro.request.url).pathname;

const formattedTitle = content.title
  ? `${content.title} | ${nitroConfig.site.title}`
  : nitroConfig.site.title;
---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
  <head>
    <HeadCommon />
    <HeadSeo
      content={content}
      canonicalURL={Astro.canonicalURL.toString()}
      title={formattedTitle}
    />
    <title>{formattedTitle}</title>
  </head>

  <body>
    <Navbar />
    <main class="grid grid-flow-col grid-cols-12 mx-auto gap-x-5">
      <aside id="grid-left" class="col-span-2 ml-10" title="Site Navigation">
        <FoldableLeftSidebar
          sections={nitroConfig.sidebar.leftSidebar.items}
          currentPagePath={currentPagePath}
        />
      </aside>
      <div id="grid-main" class="col-span-8 max-w-4xl mx-auto">
        <PageContent title={content.title}>
          <slot />
        </PageContent>
      </div>
      <aside
        id="grid-right"
        class="grid-sidebar col-span-2 mr-10"
        title="Table of Contents"
      >
        <RightSidebar headers={content.astro.headers} />
      </aside>
    </main>
  </body>
</html>
