---
import HeadCommon from "../components/HeadCommon.astro";
import Header from "../components/Header.astro";
import HeadSeo from "../components/HeadSeo.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import PageContent from "../components/PageContent.astro";
import RightSidebar from "../components/RightSidebar.astro";
import { SITE, SIDEBAR } from "../nitro.config";
import { baseStyles } from "../styles/base";
import "../styles/index.css"

const { content = {} } = Astro.props;

const formattedTitle = content.title ? `${content.title} | ${SITE.title}` : SITE.title
const currentPage = new URL(Astro.request.url).pathname;
---

<html dir={content.dir ?? "ltr" } lang={content.lang ?? "en-us" } class="initial">

<head>
  <HeadCommon />
  <HeadSeo content={content} canonicalURL={Astro.canonicalURL.toString()} title={formattedTitle} />
  <title>{formattedTitle}</title>
</head>

<body>
  <Header />
  <main class="grid grid-flow-col grid-cols-12 mx-auto gap-x-5">
    <aside id="grid-left" class="col-span-2 ml-10" title="Site Navigation">
      <LeftSidebar sidebarElements={SIDEBAR} currentPage={currentPage} sidebarTopOffset={baseStyles.sidebarTopOffset} />
    </aside>
    <div id="grid-main" class="col-span-8 max-w-4xl mx-auto">
      <PageContent {content}>
        <slot />
      </PageContent>
    </div>
    <aside id="grid-right" class="grid-sidebar col-span-2 mr-10" title="Table of Contents">
      <RightSidebar {content} />
    </aside>
  </main>
</body>

</html>